# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*-checkpoint.py

# ===============================
# Images
# ===============================
*.png

# ===============================
# Generated data / artifacts
# ===============================
artifacts/
outputs/
processed/
results/
logs/
embeddings/
plots/
metric_tables/

# ===============================
# Venv folders
# ===============================
models/
bsw-models/
mammos-ms/
exp-sim-hc/
exp-sim-tc/

# ===============================
# Data files
# ===============================
*.csv
